.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #0f172a;
  color: #ffffff;
}

.navbar-left {
  display: flex;
  flex-direction: column;
}

.app-title {
  font-size: 22px;
  font-weight: bold;
  color: #38bdf8;
}

.app-subtitle {
  font-size: 12px;
  color: #cbd5e1;
}

.navbar-center {
  display: flex;
  list-style: none;
  gap: 24px;
}

.navbar-center li a {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
}

.navbar-center li a:hover {
  color: #38bdf8;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sos-btn {
  background-color: #dc2626;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}



.profile-menu {
  display: flex;
  align-items: center;
}

.login-btn {
  background-color: #2563eb;
  border: none;
   padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.login-btn a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.login-btn:hover {
  background-color: #1d4ed8;
}

